* {
  margin: 0px;
  padding: 0px;
}
html,
body,
.box {
  width: 100%;
  height: 100%;
}
.box {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
header {
  width: 100%;
  height: 45px;
  background: green;
}
header h3 {
  text-align: center;
  color: #fff;
  height: 45px;
  line-height: 45px;
}
#wrapper {
  width: 100%;
  height: 100%;
}
#pullUp,
#pullDown {
  width: 100%;
  height: 40px;
  background: #fff;
  line-height: 40px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}
#pullDown .pullDownIcon,
#pullUp .pullUpIcon {
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  background: url("../imgs/pull-icon@2x.png") 0 0 no-repeat;
  background-size: 40px 80px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}
#pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}
#pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}
#pullDown.loading .pullDownIcon,
#pullUp.loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transition: loading 0ms  2s infinite linear;
}
#news-lists {
  width: 100%;
}
#news-lists .item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}
footer {
  width: 100%;
  height: 45px;
  background: green;
}
footer h3 {
  text-align: center;
  color: #fff;
  height: 45px;
  line-height: 45px;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
